<footer class="text-center py-5 mt-5">
    <div class="container">
        <p class="text-muted small">&copy; {{ "now"|date("Y") }} Hub Plattform. Proudly presented by the WH-Company</p>
    </div>
</footer>
